.container {
  padding: 5rem 0;
  margin: auto;

  width: fit-content;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author {
    width: 100%;
    max-width: 80vw;

    text-align: right;
    font-style: italic;

    a:hover,
    a:focus,
    a:active {
      text-decoration: underline;
    }
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;

  a {
    color: #0070f3;
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
  }
}
