.container{
    height: 100vh;
    width: 100vw;

    color: var(--font-color);
    background-color: var(--color-secondary);

    a {
        color: var(--color-primary);
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            color: var(--color-primary);
            text-decoration: underline;
        }
    }

}
