.navigation {
    padding: 1rem;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    border-bottom: 2px solid black;

    color: var(--font-color);
    background-color: var(--color-secondary);
}

.logo {
    width: 4rem;
    height: auto;

    float: left;

    img {
        width: 100%;
    }
}

.routes {
    padding: 0;
    float: right;

    list-style: none;

    max-width: 80%;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.link {
    margin: 0 2rem;
}
